body {
  box-sizing: border-box;
  background: linear-gradient(180deg, #e1eec3, #f05053);
  font-family: "Nunito", sans-serif;
  color: #e8647c;
  padding: 5px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

h1 {
  border-bottom: 1px solid black;
  font-size: 3rem;
}

#message {
  text-align: center;
  font-size: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  padding: 10px;
  margin: auto;
}
.grid-item {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px dashed #dd6892;
  padding: 20px;
  font-size: 100pt;
  text-align: center;
  height: auto;
  border-radius: 20px;
  color: #e688a1;
  background: -webkit-linear-gradient(85.2deg, #ffeecc, #ffcccc);
}

@media (max-width: 660px) {
  body {
    margin: 0;
    padding: 0;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 30vw 30vw 30vw;
    padding: 10px;
    margin: 0 auto;
  }

  h1 {
    margin-left: 5%;
    width: 90%;
  }

  img {
    width: 12%;
  }

  #message {
    text-align: center;
    font-size: 1.5rem;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px dashed #dd6892;
    font-size: 50pt;
    text-align: center;
    border-radius: 10px;
    color: #e688a1;
    background: -webkit-linear-gradient(85.2deg, #ffeecc, #ffcccc);
  }
}

@media (min-width: 834px) {
  h1 {
    font-size: 5rem;
  }
  img {
    width: 8%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 27vw 27vw 27vw;
    grid-template-rows: 27vw 27vw 27vw;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5%;
  }

  #message {
    font-size: 4rem;
  }
}
